body {
  background-color: #1e1e1e;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ff6c11;
}

header {
  background-color: #2e2e2e;
  border-radius: 1em;
}

.logo {
  height: 75px;
  width: 75px;
}

header > h1 {
  display: inline-block;
  font-size: 3em;
}

.topnav {
    overflow: hidden;
    display: inline-block;
}

.topnav a {
  display: inline-block;
}

.centerTable {
  width: 100%;
}

.content {
  width: 75%;
}

.content div {
  background-color: #2e2e2e;
  border-radius: 1em;
}

.sidebar div {
  background-color: #2e2e2e;
  border-radius: 1em;
}

footer {
  background-color: #2e2e2e;
  border-radius: 1em;
}
