body {
  background-color: #c1c1c1;
}

.center {
  background-color: #ffffff;
  width: 75%;
  margin-left: 10%;
  margin-top: 5em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 1em;
  border-style: solid;
  border-width: medium;
  border-color: #595959;
  box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
}

.content-article {
  margin-top: 3em;
}

.date {
  color: #818181;
  font-style: normal;
  font-size: 1em;
}
