body {
  background-color: #E2007F;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

a:link {
  color: #E2007F;
}

a:visited {
    color: #EC5F99;
}

a:hover {
    color: #e62d5c;
}

#center {
  background-color: #ffffff;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2em;
}

#main-header {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Courier;
}

#creator {
  margin-top: 0;
}

#footer {
  color: #969696;
  font-size: 10px;
  padding-bottom: 10px;
}

.content-article {
  text-align: left;
  background-color: #f2f2f2;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  border-radius: 10px;
  border-color: #e0e0e0;
  box-shadow: 10px 7px 21px -2px rgba(158,158,158,1);
  padding: 10px;
}

.content-article h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  margin-top: 5px;
  font-size: 14px;
  color: #969696;
}
